---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Image } from '@astrojs/image/components';
import bg_sm from '../assets/bg-sm.jpg';
import bg_md from '../assets/bg-md.jpg';
import bg_lg from '../assets/bg-lg.jpg';
import bg_xl from '../assets/bg-xl.jpg';
---

<Layout
  title="Agencia Baires"
  description="Agencia Baires Branding Boutique">
  <main class="relative h-screen">
    <Image
      format="webp"
      alt=""
      src={bg_sm}
      width={849}
      height={800}
      quality={100}
      class="absolute -z-10 h-screen object-cover md:hidden"
    />
    <Image
      format="webp"
      alt=""
      src={bg_md}
      width={1082}
      height={1020}
      quality={100}
      class="-z-10 hidden h-screen object-cover md:inline lg:hidden"
    />
    <Image
      format="webp"
      alt=""
      src={bg_lg}
      width={2564}
      height={1402}
      quality={100}
      class="-z-10 hidden h-screen object-cover lg:inline 2xl:hidden"
    />
    <Image
      format="webp"
      alt=""
      src={bg_xl}
      width={3021}
      height={1651}
      quality={100}
      class="-z-10 hidden h-screen object-cover 2xl:inline"
    />
    <h1
      class="absolute top-3 left-3 flex flex-col text-center text-white sm:top-8 sm:left-[15%] lg:left-[20%]">
      <span
        class="font-prompt text-[1rem] font-light leading-[100%]"
        >agencia</span
      >{' '}
      <span
        class="font-anton text-[6rem] uppercase leading-[95%]"
        >Baires</span
      >{' '}
      <span
        class="font-prompt text-[1.6rem] font-bold leading-[100%]"
        >Branding Boutique</span
      >
    </h1>

    <p
      class="absolute bottom-36 left-1/2 w-[90%] max-w-[38.75rem] translate-x-[-50%] text-center font-prompt text-lg text-white md:max-w-[60rem] md:text-xl">
      Somos una agencia boutique de marketing y publicidad
      que ayuda a emprendedores y peque&ntilde;os negocios a
      unirse al ecosistema digital.
    </p>

    <div
      class="absolute bottom-16 left-1/2 flex w-[200px] translate-x-[-50%] justify-between">
      <a href="mailto:hola.agenciabaires@gmail.com">
        <svg
          class="transform transition-all duration-500 hover:rotate-[360deg]"
          xmlns="http://www.w3.org/2000/svg"
          width="65"
          height="65"
          viewBox="0 0 256 256"
          ><path
            fill="white"
            d="M224 48H32a8 8 0 0 0-8 8v136a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V56a8 8 0 0 0-8-8Zm-96 85.15L52.57 64h150.86ZM98.71 128L40 181.81V74.19Zm11.84 10.85l12 11.05a8 8 0 0 0 10.82 0l12-11.05l58 53.15H52.57ZM157.29 128L216 74.18v107.64Z"
          ></path></svg
        >
      </a>
      <a
        href="https://www.instagram.com/agencia.baires/"
        class="mt-[4px]">
        <svg
          class="transform transition-all duration-500 hover:rotate-[360deg]"
          id="instagram"
          xmlns="http://www.w3.org/2000/svg"
          width="55"
          height="55"
          viewBox="0 0 24 24"
          ><path
            fill="white"
            d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4H7.6m9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3Z"
          ></path></svg
        >
      </a>
      <a
        class="transform transition-all duration-500 hover:rotate-[360deg]"
        href="https://www.linkedin.com/company/agenciabaires/"
        class="mb-[2px]"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="60"
          height="60"
          viewBox="0 0 24 24"
          ><path
            fill="white"
            d="M6.94 5a2 2 0 1 1-4-.002a2 2 0 0 1 4 .002zM7 8.48H3V21h4V8.48zm6.32 0H9.34V21h3.94v-6.57c0-3.66 4.77-4 4.77 0V21H22v-7.93c0-6.17-7.06-5.94-8.72-2.91l.04-1.68z"
          ></path></svg
        >
      </a>
    </div>
  </main>
</Layout>
