---
export interface Props {
  title: string;
  description: string;
}
import '@fontsource/anton';
import '@fontsource/prompt';
import GTMnoScript from '../components/GTMnoScript.astro';
import GTMscript from '../components/GTMscript.astro';
import PixelNoScript from '../components/PixelNoScript.astro';
import PixelScript from '../components/PixelScript.astro';

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <GTMscript />
  <PixelScript />
  <PixelNoScript />
  <meta
    name="facebook-domain-verification"
    content="yj77xc9kea1ym8ggz4w7jmvyfr0ln6"
  />
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <link
    rel="icon"
    type="image/svg+xml"
    href="/Logo-Baires.svg"
  />
  <meta
    name="generator"
    content={Astro.generator}
  />
  <title>{title}</title>
  <meta
    name="description"
    content={description}
  />

  <body>
    <GTMnoScript />
    <slot />
    <style is:global></style>
  </body>
</html>
